@{
    ViewData["Title"] = "번역 시스템";
    Layout = "~/Views/Shared/_Layout2.cshtml";          // ~/Views/Shared/_AuthLayout.cshtml
}

@section Table{
    <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
}

<div id="example-table"></div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script>
    var table = new Tabulator("#example-table", {
        height:"1000px",
        layout:"fitColumns",
        columns:[
        {title:"Name", field:"name", width:200},
        {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
        {title:"Gender", field:"gender", widthGrow:2},
        {title:"Rating", field:"rating", hozAlign:"center"},
        {title:"Favourite Color", field:"col", widthGrow:3},
        {title:"Date Of Birth", field:"dob", hozAlign:"center", sorter:"date", widthGrow:2},
        {title:"Driver", field:"car", hozAlign:"center"},
        ],
    });
    

  </script>
}